body {
    background-color:black;
    color:orange;
}

header, nav, footer {
    text-align: center;
}

nav a { 
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: None;
    color:white;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .3s;
    
}

#me, #welcomeText {
    float: left;
}


footer {
    clear: left;
}

main {
    padding-top: 30px;
    padding-left: 250px;
}

#welcomeText {
    padding-top: 140px;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
    color: white;
}

td strong {
    color: orange;
}

#table-header{
    background-color: #351a00;
    text-align: center;
}

.table-row{
    background-color: #753900;
    text-align: center;
}

ul{
    text-align: left;
    padding-left: 510px;

}

.hobby{
    color: red;
}

div {
    padding-top: 25px;
}

#content2 {
    
    padding-left: 375px;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}