body {
    background-color: Gray;
    color:white;
}

header, nav, footer {
    text-align: center;
}

footer {
    margin-top: 100px;
    
    clear: both;
}

nav a { 
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: None;
    color:white;
}

nav a:hover {
    border-bottom: 2px white;
    font-size: 2em;
    transition: .3s;
    
}

.space-top {
    padding-top: 20px;
     text-align: justify;
}

#me, #welcomeText {
    float: left;
}

#welcomeText {
    padding-top: 50px;
}

#me {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 70px;
}

h1{
    font-family: fantasy;
    font-size: 2.7em;
    margin-bottom: 0px;
}

#barre {
    padding-top: 5px;
}

h2 {
    text-decoration: underline;
}

.image2{
    float: left;
    
  position:relative ;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 30%;
}

.image3{
 float: right;
  position:relative ;
  width: 300px;
  overflow: hidden;
  border-radius: 30%;
  padding-top: 60px;
  
  
    
}
.space-down{
    padding-left :20px;
    text-align: justify;
    
}

.image4{
  float: left;
  overflow: hidden;
  border-radius: 15%;
  
  
    
}

.cryptography{
     padding-top: 25px;
     text-align: justify;
     padding-right: 150px;
}

.h2a{
    padding-top: 20px;
}

